<script lang="ts" setup>
import useUser from '@/composables/useUser';
import { UserRole } from '@/types';
import BackpackDetails from '@/components/BackpackDetails.vue';
import BackpackPatient from '@/components/BackpackPatient.vue';

const { user } = useUser();
</script>

<template>
  <BackpackDetails v-if="user?.role == UserRole.AMBULANCE" />
  <BackpackPatient v-if="user?.role == UserRole.HOSPITAL" />
</template>
