<script lang="ts" setup>
import useUser from '@/composables/useUser';
import router from '@/router';
import { OVERVIEW_ROUTE } from '@/router/names';
import { ref, watch } from 'vue';
import { useProgrammatic } from '@oruga-ui/oruga-next';
import People from '@/components/People.vue';

const { login, loading, user } = useUser();

watch(loading, () => {
  if (!loading.value && user.value) {
    router.push({ name: OVERVIEW_ROUTE });
  }
});

const username = ref('');
const password = ref('');

// Edit items
const { oruga } = useProgrammatic();

async function proceed() {
  // if username or password are empty
  if (username.value == '' || password.value == '') {
    oruga.notification.open({
      message:
        username.value == '' || password.value == ''
          ? 'Please fill in a username and password'
          : 'Invalid credentials',
      variant: 'warning',
      duration: 2000,
    });
  } else {
    // if username or password are wrong
    try {
      await login({ username: username.value, password: password.value });
    } catch (err) {
      oruga.notification.open({
        message: 'Invalid credentials',
        variant: 'warning',
        duration: 2000,
      });
    }
  }
}
</script>

<template>
  <div class="login">
    <div class="login__image">
      <People class="image" />
    </div>
    <div class="login__content">
      <form id="form">
        <input
          type="text"
          v-model="username"
          @keypress.enter="proceed"
          placeholder="Username"
        />
        <br />
        <input
          type="password"
          v-model="password"
          @keypress.enter="proceed"
          placeholder="Password"
        />
      </form>
    </div>
  </div>
</template>

<style lang="scss" scoped>

// styling the login page

.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 70vh;
  padding-left: 50px;
  padding-right: 50px;

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  &__image {
    display: flex;
    justify-content: flex-end;

    .image {
      max-width: 700px;
    }

    // for smaller screens
    @media screen and (max-width: 900px) {
      justify-content: center;
    }

    // for smartphones
    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    // username and password
    input {
      width: 270px;
      height: 48px;
      border: solid;
      border-radius: 16px;
      border-color: $black;
      border-width: 6px;
      color: $black; /* font-color */
      font-family: Calibre;
      font-size: 18px;
      font-weight: bold;
      padding-top: 7px;
      padding-left: 15px;
      margin-top: 15px;
    }

    // placeholder text for username and password
    ::placeholder {
      opacity: 0.5;
      color: $black;
    }
  }
}
</style>
