<script setup lang="ts">
import BackpackPreview from '@/components/BackpackPreview.vue';
import useBackpacks from '@/composables/useBackpacks';

const { backpacks, fetchBackpacks } = useBackpacks();

fetchBackpacks();
</script>

<template>
  <div class="grid">
    <BackpackPreview v-for="b in backpacks" :key="b.id" :backpack="b" />
  </div>
</template>

<style lang="scss" scoped>
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}
</style>
