<script setup lang="ts">
import { ref, Ref } from 'vue';
import io from 'socket.io-client';

interface ResponseObject {
  status: boolean;
}

const API = process.env.VUE_APP_API_URL;

const status: Ref<boolean | null> = ref(null);
fetch(`${API}/properties/status`).then(async (r) => {
  status.value = ((await r.json()) as ResponseObject).status;
});

async function toggle() {
  status.value = !status.value;
  await fetch(`${API}/actions/switch${status.value ? 'On' : 'Off'}`, {
    method: 'POST',
  });
}
const socket = io(process.env.VUE_APP_WS_URL);

socket.on('events', (arg: ResponseObject) => {
  status.value = arg.status;
});
</script>

<template>
  <h1>Global settings</h1>

  <!-- Example websocket, to be replaced -->
  <div class="toggle">
    <o-checkbox
      :disabled="status == null"
      :modelValue="status"
      variant="user-color"
      @update:modelValue="toggle"
    >
      <span class="toggle__text"> {{ status ? 'On' : 'Off' }} </span>
    </o-checkbox>
  </div>
</template>

<style lang="scss" scoped>
h1 {
  text-align: center;
}
.toggle {
  display: flex;
  justify-content: center;

  $size: 40px;

  :deep(.o-chk) {
    line-height: 1;

    .o-chk__check {
      height: $size;
      width: $size;
      margin: 0;
    }
  }

  &__text {
    display: inline-block;
    color: $user-color;
    font-size: $size;
    line-height: 1.33 * $size;
    height: $size;
    font-weight: bold;
  }
}
</style>
