<script setup lang="ts">
import { computed, Ref, watch } from 'vue';
import router from '@/router';
import { Backpack, Item, ItemType } from '@/types';
import BackpackPreview from '@/components/BackpackPreview.vue';
import EditItem from '@/components/EditItem.vue';
import { useProgrammatic } from '@oruga-ui/oruga-next';
import useBackpacks from '@/composables/useBackpacks';
import useItems from '@/composables/useItems';

// Fetch backpack
const { backpack, fetchBackpack, backpackLastLoaded } = useBackpacks();

const backpackId = computed(
  () => router.currentRoute.value.params.id as Backpack['id']
);

const item_types: Ref<ItemType[]> = computed(
  () => backpack.value?.item_types || []
);

const unTypedItems: Ref<Item[]> = computed(() =>
  (backpack.value?.items || []).filter(
    (item) =>
      !item_types.value.some(
        (item_type) => Number(item_type.id) == item.type_id
      )
  )
);

const ITEMS_WITHOUT_TYPE_ID = Infinity;

const table_data: Ref<ItemType[]> = computed(() =>
  [
    ...item_types.value,
    ...(unTypedItems.value.length
      ? [
          {
            id: ITEMS_WITHOUT_TYPE_ID,
            name: '---- Items without type',
            count: unTypedItems.value.length,
            items: unTypedItems.value,
          },
        ]
      : []),
  ].map((item_type) => ({
    ...item_type,
    itemCount: item_type.items.reduce((prev, cur) => prev + cur.count, 0),
  }))
);

watch(
  backpackId,
  async () => {
    if (backpackId.value) await fetchBackpack(backpackId.value);
  },
  {
    immediate: true,
  }
);

// Edit items
const { oruga } = useProgrammatic();

const { deleteItem: apiDeleteItem } = useItems();

const deleteItem = (item: Item) => {
  if (window.confirm(`Do you really want to remove ${item.name}?`))
    apiDeleteItem(item);
};

const editItem = (item: Item) => {
  oruga.modal.open({
    component: EditItem,
    trapFocus: true,
    scroll: 'clip',
    props: {
      item,
      item_types: item_types.value,
    },
  });
};
</script>

<template>

<!-- table for backpack details such as items and expiration dates -->

  <div class="backpack-overview">
    <div class="backpack-overview__info" v-if="backpack">
      <BackpackPreview :backpack="backpack" />
      <div>
        <h2>
          expiration dates:
          <span v-if="backpack.expiredItems" class="is-primary">not ok</span>
          <template v-else>ok</template>
        </h2>
        <h3>details last updated: {{ backpackLastLoaded }}</h3>
      </div>
    </div>

    <o-table
      :data="table_data"
      :default-sort="['name', 'asc']"
      :striped="false"
      :customDetailRow="true"
      detailed
    >
      <o-table-column numeric width="90">
        {{ '' }}
      </o-table-column>

      <o-table-column field="id" label="ID" width="10">
        {{ '' }}
      </o-table-column>

      <o-table-column field="name" label="Name" v-slot="props" sortable>
        <span
          :class="{
            'is-primary':
              props.row.itemCount < props.row.count ||
              props.row.id == ITEMS_WITHOUT_TYPE_ID,
          }"
        >
          ({{ props.row.itemCount }} / {{ props.row.count }})
          <span :class="{ unnamed: !props.row.name }">{{
            props.row.name || 'Unnamed'
          }}</span>
        </span>
      </o-table-column>

      <o-table-column field="expiration_date" label="Expiration date" sortable>
        {{ '' }}
      </o-table-column>

      <template v-slot:detail="props">
        <tr v-for="item in props.row.items" :key="item.id">
          <td class="o-table__td"></td>
          <td class="o-table__td">
            <img
              class="action cross-action"
              src="@/assets/cross_black.svg"
              @click.prevent="deleteItem(item)"
            />
            <img
              class="action"
              src="@/assets/inventory.svg"
              @click.prevent="editItem(item)"
            />
          </td>
          <td class="o-table__td overflow" numeric v-show="item.id">
            {{ item.id }}
          </td>
          <td class="o-table__td" v-show="item.name">
            <span
              :class="{
                'is-primary': item.count == 0,
              }"
            >
              {{ item.count }}x {{ item.name }}
            </span>
          </td>
          <td class="o-table__td">
            <span :class="{ 'is-primary': item.expired }">
              {{
                item.expiration_date
                  ? new Date(item.expiration_date).toLocaleDateString()
                  : 'None'
              }}
            </span>
          </td>
        </tr>
      </template>
    </o-table>
  </div>
</template>


<style lang="scss" scoped>

// scss styling of html code

.backpack-overview {
  max-width: 1000px;
  margin: 0 auto;

  &__info {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 100px;
  }
  :deep(.o-table__td) {
    border: 0;
    vertical-align: sub;
  }

  .unnamed {
    font-style: italic;
  }

  .action {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-bottom: -3px;
    display: inline-block;
    margin-left: auto;
    margin-right: 6px;

    &.cross-action {
      transform: rotate(45deg);
    }
  }
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  white-space: nowrap;
}
</style>
