<script lang="ts" setup>
interface Patient {
  name: string;
  age: number;
  gender: 'Male' | 'Female' | 'Other';
  report: string;
}

// dummy patient
const patient: Patient = {
  name: 'Jore Kahelin Moretti',
  age: 42,
  gender: 'Male',
  report: `Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.`,
};

const basicInfo: (keyof Patient)[] = ['name', 'age', 'gender'];
</script>

<template>

<!-- hospital website showing patients -->

  <div class="patient">
    <h1>Incoming patient</h1>

    <div class="patient__block patient__info">
      <template v-for="key in basicInfo" :key="key">
        <p class="patient__info__key">{{ key }}</p>
        <p>{{ patient[key] }}</p>
      </template>
    </div>

    <div class="patient__block">
      <h4>Report</h4>
      <p>{{ patient.report }}</p>
    </div>
  </div>
</template>

<style lang="scss" scoped>

// scss styling of html code

.patient {
  max-width: 400px;
  width: fit-content;
  margin: 0 auto;
  font-size: 20px;

  &__block {
    margin-top: 2rem;
  }

  &__info {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 1rem;
    column-gap: 2rem;

    &__key {
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}
</style>
