<script lang="ts" setup>
import { computed, defineProps } from 'vue';
import { Backpack } from '@/types';
import { BACKPACK_ROUTE } from '@/router/names';

const props = defineProps<{
  backpack: Backpack;
}>();

const backpack = computed(() => props.backpack);
</script>

<template>

<!-- overview: showing backpacks and their missing items -->

  <router-link
    class="backpack"
    :to="{ name: BACKPACK_ROUTE, params: { id: backpack.id } }"
  >
    <div class="backpack__item-count" v-if="backpack.expiredItems">
      <span>{{ backpack.expiredItems }}</span>
    </div>
    <img src="@/assets/backpack.svg" />
    <span class="backpack__name">{{ backpack.name }}</span>
  </router-link>
</template>

<style lang="scss" scoped>

// scss styling of html code

.backpack {
  position: relative;
  display: block;
  margin: 50px;
  width: fit-content;

  &__item-count {
    position: absolute;
    right: 0;
    height: 30px;
    width: 30px;

    background: $user-color;
    color: $white;
    border-radius: 50%;
    font-weight: bold;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 0.25em;
  }

  img {
    width: 100px;
  }

  &__name {
    display: block;
    text-align: center;
    margin-top: 0.5em;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.1s;
  }

  &:hover &__name {
    transform: scale(1.1);
  }
}
</style>
