<script lang="ts" setup>
import { defineProps, defineEmits, reactive } from 'vue';
import { Item, EditingItem, ItemType } from '@/types';
import useItems from '@/composables/useItems';

const props = defineProps<{
  item: Item;
  item_types: ItemType[];
}>();

const emit = defineEmits(['close']);

// Should not update whenever the parent component backpack changes

const editingItem: EditingItem = reactive({
  ...props.item,
  expiration_date: props.item.expiration_date
    ? new Date(props.item.expiration_date)
    : null,
});

const { updateItem } = useItems();

// Save the editted item
const submit = async () => {
  await updateItem({
    ...editingItem,
    type_id: Number(editingItem.type_id),
    expiration_date: editingItem.expiration_date?.toISOString() || null,
  });

  emit('close');
};
</script>

<template>

<!-- make backpack items editable -->

  <form @submit.prevent="submit">
    <o-field label="Name">
      <o-input v-model="editingItem.name"></o-input>
    </o-field>

    <o-field label="Type">
      <o-select placeholder="Select a type" v-model="editingItem.type_id">
        <option v-for="type in item_types" :key="type.id" :value="type.id">
          {{ type.name }}
        </option>
      </o-select>
    </o-field>

    <o-field label="Expiration date">
      <o-datepicker
        v-model="editingItem.expiration_date"
        placeholder="Click to select..."
        icon="calendar"
        trap-focus
        append-to-body
        rootClass="datepicker"
      >
      </o-datepicker>
      <o-button
        variant="danger"
        v-if="editingItem.expiration_date"
        @click="editingItem.expiration_date = null"
        class="icon-button"
      >
        <o-icon icon="close"></o-icon>
      </o-button>
    </o-field>

    <o-button native-type="submit">Submit</o-button>
  </form>
</template>

<style lang="scss" scoped>

// scss styling of html code

.datepicker {
  width: 100%;
}

.icon-button {
  padding: 0 4px;
  height: 1.8em;
  border-radius: 4px;
}
</style>
