<script lang="ts" setup>
import useUser from '@/composables/useUser';
import { UserRole } from '@/types';
import { computed } from '@vue/reactivity';
const { user, logout } = useUser();

// changing the navbar depending on the user
const navBarClass = computed(() => (user.value?.role ? '--user-color' : ''));
const logoText = computed(() => {
  let logoText = 'Medical Platform';
  if (user.value?.role == UserRole.AMBULANCE) {
    logoText = 'Austrian Red Cross Portal';
  } else if (user.value?.role == UserRole.HOSPITAL) {
    logoText = 'Hospital Vienna Portal';
  }

  return logoText;
});
</script>

<template>

<!-- navigation bar with logos and functions -->

  <div class="navigation-bar" :class="`navigation-bar${navBarClass}`">
    <router-link to="/" class="navigation-bar__logo">
      <img v-if="user" src="@/assets/cross_white.svg" />
      <img v-else src="@/assets/cross_black.svg" />
      <span class="navigation-bar__logo__text">{{ logoText }}</span>
    </router-link>
    <div class="navigation-bar__user" v-if="user">
      <div>
        <span>Logged in as</span>
        <h5>{{ user.name }}</h5>
      </div>
      <o-button
        class="navigation-bar__user__logout"
        variant="white"
        @click="logout"
      >
        Logout
      </o-button>
    </div>
  </div>
</template>

<style lang="scss" scoped>

// scss styling of html code

.navigation-bar {
  background: transparent;
  color: $black;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 0.3s;

  &--user-color {
    background: $user-color;
    color: $white;
  }

  &__logo {
    display: flex;
    align-items: center;

    $height: 48px;
    height: $height;

    img {
      $margin: 8px;
      height: $height - 2 * $margin;
      width: $height - 2 * $margin;
      margin: $margin;
    }

    &__text {
      margin-top: 0.2em;
      margin-left: 0.5em;
      font-size: 18px;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    text-align: right;

    h5 {
      font-size: 1.4rem;
      line-height: 1.4rem;
    }

    &__logout {
      margin-left: 1rem;
    }
  }
}
</style>
