<script lang="ts" setup>
import { ref } from 'vue';

const offset = ref(0);

requestAnimationFrame(() => {
  setTimeout(() => (offset.value = -20), 100);
  setInterval(() => (offset.value -= 20), 1000);
});
</script>

<template>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 546 396"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="fill-rule: evenodd; clip-rule: evenodd"
  >
    <g id="Page-1">
      <g transform="matrix(1,0,0,1,2.85992,2)">
        <g id="Login-page">
          <g id="Group-3">
            <g id="Group-2" transform="matrix(1,0,0,1,355.058,23.6177)">
              <g
                id="Oval"
                transform="matrix(0.882948,-0.469472,0.469472,0.882948,-18.5978,30.952)"
              >
                <circle
                  cx="52.772"
                  cy="52.772"
                  r="35.652"
                  style="
                    fill: none;
                    stroke: rgb(0, 117, 255);
                    stroke-opacity: 0.4;
                    stroke-width: 6px;
                  "
                />
              </g>
              <g
                id="Oval1"
                serif:id="Oval"
                transform="matrix(0.882948,-0.469472,-0.469472,-0.882948,30.952,124.142)"
              >
                <circle
                  cx="52.772"
                  cy="52.772"
                  r="14.475"
                  style="
                    fill: none;
                    stroke: rgb(0, 114, 255);
                    stroke-opacity: 0.4;
                    stroke-width: 6px;
                  "
                />
              </g>
              <g
                id="Oval2"
                serif:id="Oval"
                transform="matrix(0.882948,-0.469472,-0.469472,-0.882948,30.952,124.142)"
              >
                <g
                  transform="matrix(0.882948,-0.469472,-0.469472,-0.882948,-273.044,314.793)"
                >
                  <use
                    xlink:href="#_Image1"
                    x="405.933"
                    y="71.413"
                    width="14.9px"
                    height="14.9px"
                    transform="matrix(0.993364,0,0,0.993364,0,0)"
                  />
                </g>
              </g>
              <g
                id="Oval3"
                serif:id="Oval"
                transform="matrix(0.882948,-0.469472,0.469472,0.882948,-18.5978,30.952)"
              >
                <circle
                  cx="52.772"
                  cy="52.772"
                  r="25.198"
                  style="
                    fill: none;
                    stroke: rgb(0, 114, 255);
                    stroke-opacity: 0.4;
                    stroke-width: 6px;
                  "
                />
              </g>
              <g
                id="Path-14"
                transform="matrix(-0.882948,0.469472,-0.469472,-0.882948,127.72,78.5657)"
              >
                <path
                  d="M93.086,13.429L93.086,96.981L54.066,57.96L15.045,96.981L15.045,13.429L93.086,13.429Z"
                  style="fill: white"
                />
              </g>
            </g>
            <path
              id="Path-10"
              d="M313.479,318.117C314.668,319.822 316.526,320.939 318.588,321.191L330.898,322.694C333.748,323.042 336.51,321.563 337.801,318.998L339.214,316.188C339.694,315.235 339.864,314.155 339.699,313.1C339.551,312.151 338.766,311.431 337.808,311.365L319.034,310.069C317.112,309.936 315.32,309.054 314.043,307.611C313.599,307.109 312.831,307.062 312.329,307.506C312.082,307.724 311.935,308.034 311.92,308.363L311.754,312.177C311.662,314.293 312.268,316.38 313.479,318.117Z"
              style="fill: none; stroke: rgb(0, 117, 255); stroke-width: 10px"
            />
            <path
              id="Path-2"
              d="M174.789,340.158L164.607,346.296C162.401,347.625 160.696,349.645 159.755,352.042L159.088,353.742C158.696,354.741 159.187,355.868 160.186,356.26C160.246,356.284 160.307,356.304 160.368,356.322C161.727,356.705 163.155,356.772 164.543,356.517L166.775,356.107L174.789,340.158Z"
              style="fill: none; stroke: black; stroke-width: 6px"
            />
            <path
              id="Path-3"
              d="M247.203,271.481L228.252,276.8C226.557,277.276 224.875,277.796 223.208,278.361L212.522,281.979C211.044,282.479 209.555,282.945 208.056,283.375L203.868,284.578C201.16,285.355 198.943,287.305 197.825,289.891L197.213,291.306C196.458,293.053 196.19,294.971 196.438,296.858C196.677,298.68 197.73,300.296 199.302,301.249L199.38,301.296C200.928,302.236 202.893,302.139 204.341,301.051L206.701,299.278C207.977,298.319 208.944,297.006 209.482,295.503C210.01,294.025 211.095,292.812 212.505,292.124L213.133,291.818C214.985,290.915 217.044,290.522 219.098,290.682L224.839,291.128C230.351,291.556 235.688,289.078 238.917,284.59L245.174,275.896C246.014,274.728 246.91,273.602 247.858,272.521C248.092,272.255 248.065,271.85 247.799,271.616C247.636,271.473 247.412,271.422 247.203,271.481Z"
              style="fill: none; stroke: black; stroke-width: 6px"
            />
            <path
              id="Path"
              d="M155.373,385.806L164.447,388.186C165.999,388.593 167.56,388.962 169.129,389.294L176.187,390.786C179.415,391.469 182.616,389.525 183.5,386.347C184.426,383.018 182.987,379.483 179.998,377.748L179.931,377.709C177.544,376.322 176.732,373.263 178.118,370.876C178.263,370.627 178.428,370.391 178.613,370.171L205.675,337.952L215.018,326.055C219.016,320.964 225.014,317.845 231.477,317.495L232.376,317.446C238.198,317.13 243.819,319.626 247.489,324.156C249.389,326.501 249.028,329.941 246.683,331.84C245.962,332.425 245.104,332.816 244.19,332.976L235.165,334.563C234.04,334.761 232.919,334.978 231.802,335.214L224.074,336.847C218.029,338.124 211.829,338.497 205.675,337.952L193.222,352.829L213.45,355.88C214.455,356.032 215.461,356.168 216.47,356.289L232.175,358.17C236.122,358.643 240.094,358.88 244.069,358.88L248.277,358.88C255.012,358.88 261.696,357.725 268.04,355.466L277.382,352.139C279.591,351.353 281.5,349.898 282.845,347.978C284.211,346.028 285.184,343.832 285.712,341.511L289.436,325.131C289.968,322.791 290.958,320.58 292.349,318.625C293.747,316.659 294.873,314.514 295.697,312.247L297.398,307.565C298.926,303.36 302.922,300.56 307.396,300.56L309.461,300.56C312.437,300.56 314.849,302.972 314.849,305.948C314.849,309.531 315.201,313.106 315.899,316.621L316.185,318.06C316.981,322.068 318.022,326.023 319.302,329.904L320.144,332.457C320.973,334.972 320.198,337.74 318.183,339.459L317.702,339.869C315.838,341.458 314.464,343.543 313.738,345.882L313.127,347.854C312.796,348.92 312.628,350.03 312.628,351.146C312.628,352.24 312.976,353.305 313.621,354.188L314.613,355.544C315.728,357.069 317.206,358.29 318.914,359.097C320.588,359.888 322.497,360.027 324.268,359.487L325.546,359.097C328.046,358.334 329.962,356.314 330.591,353.777L330.619,353.665C331.308,350.883 331.519,348.005 331.243,345.152L331.125,343.935C330.795,340.531 331.174,337.096 332.239,333.845C333.314,330.564 334.148,327.209 334.734,323.806L336.037,316.237C336.304,314.682 336.22,313.086 335.789,311.567C335.368,310.081 335.503,308.491 336.17,307.098L338.746,301.715C340.151,298.778 340.881,295.563 340.881,292.307C340.881,289.053 340.132,285.842 338.692,282.925L338.001,281.526C336.131,277.738 333.196,274.578 329.556,272.436L325.086,269.805C324.398,269.4 323.976,268.661 323.976,267.863C323.976,267.06 324.381,266.31 325.054,265.871L326.645,264.83C328.102,263.877 329.685,263.131 331.347,262.613L332.043,262.397C333.161,262.049 334.004,261.124 334.246,259.978C334.506,258.748 334.953,257.566 335.573,256.472L336.188,255.388C337.213,253.58 337.902,251.602 338.221,249.548L338.514,247.661C338.863,245.414 338.597,243.114 337.745,241.005C336.881,238.866 335.744,236.848 334.363,235L334.052,234.584C332.485,232.489 330.393,230.845 327.987,229.819L327.367,229.555C324.547,228.352 321.477,227.851 318.421,228.094L317.266,228.186C314.637,228.395 312.134,229.397 310.088,231.059L309.812,231.283C307.916,232.824 306.307,234.686 305.059,236.786L304.515,237.7C303.63,239.19 303.075,240.851 302.887,242.574C302.699,244.306 302.252,246.001 301.563,247.601L301.033,248.83C300.383,250.339 298.835,251.258 297.199,251.106C295.385,250.937 293.615,250.445 291.975,249.652L286.474,246.994C284.013,245.805 281.314,245.187 278.581,245.187L277.365,245.187C275.437,245.187 273.541,245.672 271.85,246.597C270.141,247.532 268.584,248.72 267.23,250.12L264.381,253.065C261.129,256.428 257.538,259.444 253.665,262.067L248.256,265.729C247.423,266.293 246.581,266.845 245.731,267.384L237.386,272.675C234.221,274.681 230.659,275.976 226.945,276.471L226.291,276.558C223.024,276.993 219.922,278.259 217.283,280.234C214.615,282.231 212.263,284.618 210.307,287.316L199.241,302.571C199.225,302.593 199.209,302.615 199.193,302.637L186.542,320.049C183.471,324.276 180.735,328.738 178.361,333.392L168.382,352.957C167.312,355.055 166.099,357.077 164.753,359.009C163.41,360.934 161.815,362.67 160.008,364.168L157.312,366.405C154.635,368.627 152.95,371.821 152.628,375.284L152.339,378.386C152.197,379.915 152.294,381.457 152.628,382.956C152.937,384.345 153.996,385.445 155.373,385.806Z"
              style="fill: white; stroke: black; stroke-width: 6px"
            />
            <path
              id="Path-5"
              d="M418.169,85.784L409.911,88.159C405.134,89.533 402.375,94.519 403.749,99.296C403.992,100.142 404.358,100.947 404.835,101.686L421.875,128.11C423.989,131.39 427.976,132.933 431.748,131.932L440.469,129.617C445.273,128.341 448.134,123.413 446.859,118.609C446.608,117.666 446.206,116.77 445.668,115.956L428.165,89.471C425.997,86.19 421.949,84.697 418.169,85.784Z"
              style="fill: none; stroke: rgb(0, 117, 255); stroke-width: 6px"
            />
            <path
              id="Path-51"
              serif:id="Path-5"
              d="M15.411,239.1C11.54,239.537 8.756,243.03 9.194,246.901C9.213,247.075 9.24,247.249 9.272,247.422L10.167,252.143C10.968,256.374 14.972,259.215 19.23,258.573C23.234,257.97 25.991,254.234 25.387,250.23C25.369,250.108 25.347,249.985 25.323,249.864L24.476,245.696C23.62,241.48 19.685,238.617 15.411,239.1Z"
              style="fill: none; stroke: rgb(0, 117, 255); stroke-width: 6px"
            />
            <path
              id="Path-4"
              d="M462.64,317.713L461.734,318.779C460.038,320.774 457.774,322.206 455.244,322.884L447.617,324.926C444.901,325.654 443.011,328.115 443.011,330.928C443.011,333.562 445.146,335.697 447.78,335.697L464.155,335.697C469.909,335.697 475.643,335.029 481.243,333.706C486.293,332.513 490.043,328.265 490.599,323.106L491.68,313.095C491.909,310.971 491.624,308.823 490.849,306.832L490.582,306.143C490.059,304.799 490.602,303.275 491.857,302.564C493.176,301.817 493.905,300.339 493.695,298.838L492.561,290.741C492.206,288.206 491.949,285.659 491.789,283.104L489.865,252.279C489.735,250.204 489.671,248.127 489.671,246.048L489.671,240.648C489.671,240.087 490.125,239.632 490.686,239.632C491.155,239.632 491.563,239.953 491.674,240.409L497.735,265.464C499.161,271.356 499.881,277.396 499.881,283.458L499.881,288.076C499.881,291.079 499.746,294.081 499.476,297.071L498.198,311.217C498.065,312.688 498.662,314.132 499.796,315.079C500.603,315.753 500.71,316.953 500.037,317.759C499.95,317.863 499.852,317.957 499.745,318.041L499.237,318.437C497.696,319.636 496.57,321.29 496.02,323.164L495.455,325.09C494.563,328.128 492.335,330.595 489.402,331.79L485.093,333.546C481.901,334.846 479.814,337.95 479.814,341.396C479.814,344.544 482.366,347.096 485.514,347.096L496.991,347.096C502.082,347.096 507.136,346.232 511.938,344.539C516.285,343.008 519.192,338.9 519.192,334.291L519.192,325.017C519.192,322.91 519.47,320.813 520.019,318.779C520.569,316.74 520.951,314.659 521.16,312.557L523.575,288.275C524.205,281.939 524.229,275.558 523.646,269.218L520.956,239.968C520.882,239.173 520.8,238.378 520.707,237.584L519.956,231.115C519.447,226.742 519.251,222.338 519.366,217.937L519.485,213.426C519.52,212.09 520.119,210.831 521.134,209.961C522.116,209.12 522.556,207.807 522.28,206.544L521.338,202.233C520.414,198.006 520.005,193.684 520.119,189.36L520.669,168.472C520.787,163.996 520.604,159.518 520.122,155.068L520.019,154.121C519.493,149.267 521.063,144.419 524.334,140.794L530.166,134.333C537.174,126.568 540.694,116.271 539.906,105.841L538.354,85.305C537.723,76.952 535.194,68.853 530.959,61.625L527.931,56.458C525.759,52.75 522.134,50.119 517.934,49.203L516.223,48.83C513.053,48.138 510.181,46.465 508.015,44.049C505.918,41.709 505.044,38.518 505.658,35.436L505.824,34.603C506.583,30.791 507.654,27.047 509.027,23.41L509.155,23.072C510.568,19.331 510.575,15.204 509.176,11.458L509.155,11.401C507.772,7.696 504.766,4.83 500.999,3.625L498.119,2.703C492.627,0.946 486.721,0.968 481.243,2.767L478.942,3.522C475.036,4.804 471.845,7.661 470.141,11.401L469.103,13.678C468.024,16.044 467.466,18.614 467.466,21.215C467.466,23.819 466.943,26.396 465.928,28.794L465.34,30.184C464.721,31.645 464.936,33.325 465.902,34.584C466.927,35.918 467.588,37.496 467.82,39.162L468.295,42.582C468.788,46.127 471.533,48.937 475.065,49.515L479.297,50.207C480.043,50.329 480.549,51.033 480.427,51.779C480.381,52.064 480.245,52.327 480.04,52.53L479.984,52.585C478.766,53.793 477.827,55.254 477.233,56.864C476.636,58.484 475.801,60.007 474.756,61.382L472.729,64.049C470.352,67.175 468.657,70.765 467.752,74.586L465.027,86.093C464.568,88.03 464.168,89.98 463.825,91.941L462.977,96.8C462.096,101.848 459.515,106.444 455.664,109.824L450.089,114.717C447.422,117.057 443.995,118.348 440.446,118.348C437.228,118.348 434.44,120.579 433.736,123.72L433.365,125.369C432.39,129.714 433.807,134.249 437.083,137.265L440.658,140.557C441.65,141.471 443.195,141.407 444.109,140.415C444.256,140.255 444.381,140.077 444.481,139.883C445.293,138.315 447.223,137.701 448.792,138.513L448.809,138.522C450.566,139.431 452.682,139.291 454.304,138.158L458.31,135.36C459.662,134.416 461.523,134.747 462.467,136.098C462.968,136.815 463.129,137.715 462.908,138.561L461.157,145.273C459.807,150.447 458.875,155.721 458.368,161.044L454.85,198.011C454.347,203.296 454.451,208.62 455.159,213.881L455.69,217.827C456.038,220.413 457.165,222.831 458.92,224.761C460.682,226.698 461.866,229.089 462.339,231.664L467.095,257.572C467.325,258.822 466.87,260.099 465.902,260.923C464.946,261.737 464.539,263.027 464.854,264.243L465.902,268.294C466.942,272.31 467.573,276.42 467.786,280.563L469.03,304.751C469.092,305.952 468.839,307.15 468.295,308.223C467.771,309.26 467.742,310.478 468.217,311.538L468.295,311.714C468.753,312.738 468.296,313.938 467.273,314.398L466.732,314.641C465.156,315.348 463.758,316.398 462.64,317.713Z"
              style="fill: white; stroke: black; stroke-width: 6px"
            />
            <path
              id="Path-6"
              d="M1.025,242.082L3.909,262.888C4.646,268.199 4.597,273.589 3.765,278.886C2.941,284.134 3.402,289.503 5.109,294.532L5.221,294.863C6.795,299.501 11.438,302.368 16.289,301.699L29.98,299.81C37.943,298.711 45.744,296.656 53.215,293.69L97.753,276.005L89.456,229.8C88.907,226.745 87.679,223.851 85.864,221.333C84.131,218.931 81.35,217.508 78.389,217.508L64.249,217.508C60.792,217.508 57.89,214.902 57.521,211.464C57.169,208.193 54.232,205.826 50.96,206.178C50.921,206.182 50.881,206.187 50.841,206.192L38.951,207.713C35.627,208.138 33.278,211.177 33.703,214.501C33.721,214.644 33.745,214.788 33.773,214.93C34.492,218.492 32.254,221.981 28.717,222.814L21.737,224.457C19.756,224.923 17.827,225.588 15.98,226.441L15.602,226.616C14.002,227.355 12.422,228.136 10.864,228.958L6.601,231.207C2.639,233.297 0.41,237.645 1.025,242.082Z"
              style="fill: none; stroke: black; stroke-width: 6px"
            />
            <path
              id="Path-7"
              d="M28.6,302.344C29.55,305.502 32.65,307.505 35.919,307.072L89.086,300.038C98.501,298.792 107.691,296.211 116.378,292.373L136.398,283.529C140.517,281.71 144.245,279.113 147.379,275.88L149.297,273.902C151.017,272.128 151.535,269.509 150.62,267.215C149.74,265.01 147.449,263.709 145.105,264.084L142.231,264.544C140.339,264.847 138.448,263.998 137.418,262.383C136.406,260.796 134.488,260.04 132.665,260.51L58.793,279.546C55.849,280.305 53.54,282.591 52.752,285.528C51.963,288.47 49.665,290.768 46.723,291.557L32.478,295.382C29.516,296.178 27.76,299.223 28.555,302.185C28.569,302.238 28.584,302.291 28.6,302.344Z"
              style="fill: white; stroke: black; stroke-width: 6px"
            />
            <path
              id="Path-8"
              d="M42.648,216.819C42.648,217.568 43.255,218.175 44.004,218.175C44.033,218.175 44.063,218.174 44.093,218.172L50.042,217.779C50.576,217.744 50.98,217.283 50.944,216.75C50.932,216.554 50.859,216.366 50.738,216.213C50.023,215.31 48.903,214.827 47.756,214.927L44.09,215.246C43.274,215.316 42.648,216 42.648,216.819Z"
              style="fill: none; stroke: black; stroke-width: 6px"
            />
            <path
              id="Path-9"
              d="M311.775,309.142L311.97,314.298C311.989,314.788 312.401,315.17 312.89,315.151C313.173,315.141 313.433,314.996 313.591,314.762C314.543,313.354 316.122,312.499 317.821,312.471L326.707,312.325C330.003,312.271 333.197,313.463 335.652,315.662C336.7,316.601 338.311,316.513 339.249,315.465C339.62,315.051 339.845,314.527 339.891,313.974L340.1,311.433C340.275,309.305 340.362,307.171 340.362,305.036L340.362,304.985C340.362,302.969 339.548,301.038 338.104,299.631C336.645,298.21 334.733,297.346 332.702,297.19L329.988,296.982C326.987,296.752 323.969,296.86 320.991,297.303L320.708,297.345C318.027,297.744 315.626,299.222 314.063,301.436C312.475,303.684 311.671,306.392 311.775,309.142Z"
              style="fill: white; stroke: rgb(0, 117, 255); stroke-width: 6px"
            />
            <path
              id="Path-11"
              d="M339.952,307.86C342.648,306.193 345.175,309.862 352.066,309.862C358.956,309.862 357.594,305.616 365.693,309.862L366.849,306.607C368.971,300.629 374.627,296.636 380.97,296.636L383.709,296.636C388.348,296.636 392.423,299.718 393.685,304.182C395.081,309.117 395.085,314.341 393.696,319.278L393.671,319.366C392.417,323.825 388.351,326.905 383.719,326.905L381.299,326.905C377.718,326.905 374.163,326.291 370.79,325.09C367.734,324.001 365.693,321.107 365.693,317.863L365.693,309.862"
              style="fill: none; stroke: rgb(0, 117, 255); stroke-width: 6px"
            />
            <path
              id="Path-13"
              d="M24.798,250.108L120.956,244.617L189.623,267.92L290.07,260.086L373.298,297.617"
              style="
                fill: none;
                stroke: rgb(0, 117, 255);
                stroke-opacity: 0.4;
                stroke-width: 6px;
                stroke-dasharray: 25, 8;
              "
              :style="`stroke-dashoffset: ${-offset};`"
            />
            <path
              id="Path-131"
              serif:id="Path-13"
              d="M23.533,241.784L130.662,175.284L221.371,161.169L315.185,128.051L409.533,108.784"
              style="
                fill: none;
                stroke: rgb(0, 117, 255);
                stroke-opacity: 0.4;
                stroke-width: 7px;
                stroke-dasharray: 25, 8;
              "
              :style="`stroke-dashoffset: ${offset};`"
            />
          </g>
        </g>
      </g>
      <g
        transform="matrix(0.999848,0.0174524,0.0174524,-0.999848,513.825,94.7862)"
      >
        <clipPath id="_clip2">
          <path
            d="M-0,11.998L6.178,13.199L4.896,19.799L11.074,21L12.357,14.4L18.535,15.601L19.818,9.002L13.64,7.801L14.923,1.201L8.744,0L7.461,6.6L1.283,5.399L-0,11.998Z"
          />
        </clipPath>
        <g clip-path="url(#_clip2)">
          <path
            d="M0,11.998L6.178,13.199L4.896,19.799L11.074,21L12.357,14.4L18.535,15.601L19.818,9.002L13.64,7.801L14.923,1.201L8.744,0L7.461,6.6L1.283,5.399L0,11.998Z"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: black;
              stroke-width: 16px;
              stroke-miterlimit: 10;
            "
          />
        </g>
      </g>
    </g>
    <defs>
      <image
        id="_Image1"
        width="15px"
        height="15px"
        xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAA20lEQVQokZXTQUoDQRCF4a+brAwoqMsYL+BWiZscag7ShxJBIVsvYJilBlTiKtguZoSYnhnHt2maqv+9gq4OulTlc8wxwSfeUEsh77eFA2iGJaYdlhuspLAu4SpfYVEYlnqQwhPEFpzjdgQIi3ZCUZUDrkdA+9Muf5JnOP0HDFNVPos4Gczo12XEUS8YBw0mEbvOUsZXe3ZrG7HuLfeD8B6l8ILtYFupDerYXu7+zPmtlRRyA6dQ43EElDUbtqbc7Qvc6H73D9y3QUq4MQiaxTnWfJAdnqXwetj6DR7WNhqFN6aWAAAAAElFTkSuQmCC"
      />
    </defs>
  </svg>
</template>

<style lang="scss" scoped>

// animation of the blue strokes
#Path-131,
#Path-13 {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
}
</style>
