<script lang="ts" setup>
import { computed } from 'vue';
import { useRoute } from 'vue-router';
import { LOGIN_ROUTE, SETTINGS_ROUTE } from '@/router/names';

const route = useRoute();
const show = computed(
  () => ![SETTINGS_ROUTE, LOGIN_ROUTE].some((v) => v == route.name)
);
</script>

<template>
  <router-link v-if="show" class="settings" :to="{ name: SETTINGS_ROUTE }">
    <img src="@/assets/settings.svg" />
    <span>Settings</span>
  </router-link>
</template>

<style lang="scss" scoped>

// styling the settings button

.settings {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;

  font-weight: bold;
  font-size: 26px;

  display: flex;

  img {
    height: 32px;
  }

  span {
    margin: 0 0.5em;
    margin-top: 0.25em;
  }
}
</style>
