<script setup lang="ts">
import NavigationBar from '@/components/NavigationBar.vue';
import SettingsIcon from './components/SettingsIcon.vue';
</script>

<template>
  <navigation-bar />
  <div class="main">
    <router-view v-slot="{ Component, route }">
      <transition name="fade" mode="out-in">
        <div :key="route.name">
          <component :is="Component" />
        </div>
      </transition>
    </router-view>
    <SettingsIcon />
  </div>
</template>

<style lang="scss" scoped>
.main {
  margin-top: 60px;
}
</style>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
