// loading fonts

@font-face {
    font-family: 'Calibre';
    src: local('Calibre Bold'), local('Calibre-Bold'),
        url('./fonts/Calibre-Bold.woff2') format('woff2'),
        url('./fonts/Calibre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibre';
    src: local('Calibre Medium'), local('Calibre-Medium'),
        url('./fonts/Calibre-Medium.woff2') format('woff2'),
        url('./fonts/Calibre-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}