// https://oruga.io/documentation/#customization
// https://github.com/oruga-ui/oruga/blob/master/packages/oruga/src/scss/utilities/_variables.scss

$css-vars: false;

$black: #000000;
$white: #fff;
$primary: #db1c3d;
$primary-invert: $white;
$secondary: #007af7;
$secondary-invert: $white;
$success: #B4EBCA;
$success-invert: $black;
$warning: #FFC914;
$warning-invert: $black;

$checkbox-background-color: transparent;

$user-color: var(--user-color);
$user-color-invert: $white;

$colors: ("primary": ($primary, $primary-invert),
  "secondary": ($secondary, $secondary-invert),
  "user-color": ($user-color, $user-color-invert),
  "warning": ($warning, $warning-invert),
  "success": ($success, $success-invert),
  "white": ($white, $black),
  "black": ($black, $white), );

@use 'sass:list';

@each $name,
$color in $colors {
  .is-#{$name} {
    color: list.nth($color, 1);
  }
}