// global styling

@import "_variables";
@import "_fonts";
@import "@oruga-ui/oruga-next/src/scss/oruga-full.scss";

html {
  font-family: "Calibre", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

html,
p,
span,
button {
  font-weight: inherit;
  font-family: "Calibre", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body,
* {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.o-btn {
  font-size: 20px;

  &__wrapper {
    margin-top: 0.2em;
  }
}

.o-modal {
  &__content {
    padding: 25px 30px;
    min-width: 300px;
  }
}